{% load static %}
<html>
    <head>
        <title>Yunseon's Blog</title>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link href='//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="{% static 'css/blog.css' %}">
    </head>
    <body>
    <nav class="page-header">
    <ul>
      {% if user.is_authenticated %}
          <h3><a class="top-menu" href="{% url 'account_logout' %}">Logout</a></h3>
      {% else %}
          <h3><a class="top-menu" href="{% url 'account_login' %}">Login</a></h3>
      {% endif %}
    </ul>
    {% if user.is_authenticated %}
    <a href="{% url 'post_new' %}" class="top-menu"><span class="glyphicon glyphicon-plus"></span></a>
    {% endif %}
    <h1><a href="/">Yunseon's Blog</a></h1>
    
    </nav>
    <div class="content container">
        <div class="row">
            <div class="col-md-8">
            {% block content %}
            {% endblock %}
            </div>
        </div>
    </div>
    </body>
</html>